<% for(var i = 0; i < manager.length; i++) { %>
<tr> 
    <td><%= manager[i].mno%></td>
    <td><%= manager[i].mname%></td>
    <td><%= manager[i].leaveFrom%></td>
    <td><%= manager[i].leaveTill%></td>
    <td><%= manager[i].nature%></td>
    
</tr>
<% } %>